* {
    
    padding: 0px;
    border: 0px;
    margin: 0px ;
    text-decoration:none;
    list-style: none;
}

body {
    
    margin: 0px auto;
}


header {
    
    margin: 0px auto;
    max-width: 1140px;
    
}

.mainhead img{
    
    height: 100px;
    width: 1920px;
}
.head{
    
    position: relative;
    display: inline-flex;
    top: -130px;
    color: white;
    left:250px;
}

#logo{
    
    position: absolute;
    display: inline-flex;
    float: left;
    left: 0px;
    top: -40px;
}

#logo h3 {
    
    position: relative;
    float: left;
    padding: 5px;
    top:-20px;
}

#pointer {
    
    position: relative;
    float: right;
    top:-40px;
    left: 550px;
    color: white;
    
}

#pointer h6 {
    
    position: relative;
    float: right;
    padding: 10px;
    top:-12px;
    text-align: left;
    border-right: 1px solid white;
    color: #b0b0b1;
}

#phone {
    
    position: relative;
    float: right;
    top:-40px;
    left: 600px;
    color: white;
}

#phone h6 {
    
    position: relative;
    float: right;
    padding: 10px;
    top:-12px;
    border-right: 1px solid white;
    color: #b0b0b1;
}

#facebook {
    
    position: relative;
    float: right;
    top:-40px;
    left: 670px;
}
#twitter {
    
    position: relative;
    float: right;
    top:-40px;
    left: 680px;
}
.headnavigation{
    
    height: 100px;
    width: 1920px;
    background-color: #edeff2;
    
}
.mainnavigation ul li {
    
    position: relative;
    display: inline-flex;
    float: left;
    list-style: none;
    padding: 40px 15px;
    top: -176px;
    background-color: #edeff2;
    
}

.mainnavigation {
    
    position:relative;
    left:300px;
    
}

.mainnavigation ul li a {
    
    color: black;
    
}
.mainnavigation li:hover {
    
    background-color: #d00022;
        
}

.mainnavigation .active {
    
    background-color: #d00022;
     
} 

.mainnavigation a:hover {
    
    text-decoration:none;
    color:white;
      
}
#navigation2 #circle {
    
    position:absolute;
    height:40px;
    width:40px;
    border:2px solid #d6d6d6;
    border-radius:50%;
    top:30px;
    left:-3px;
}
#navigation2 #search {
    
    position:relative;
    left:10px;
    top:40px;
    color: #888888;
}

#navigation2{
    
    float: right;
}

#navigation2 img{
    
    padding-right: 5px;
}

#navigation2 li:hover{
    
   background-color: #eee;
    font-weight:700;
}

#navigation2 a:hover{
    
    color:#d0000f;
}
/*---------------End of Header------------------*/

.mainimg figure{
    
    position: absolute;
    top:200px;
    
}

.mainimg1 img{
    
    width:1920px;
    
}
 
.caption{
    
    position:absolute;
    top:50%;
    left:25%;
    color:white;
}

.caption2 {
    
    
    position:absolute;
    top:50%;
    left:80%;
    color:white;
}

.caption2 #home{
    
    color:white;
}

.caption2 #Gallery{
    
    color:white;
}


/*-------------END----------------*/

.maincontent{
    
    position:relative;
    top:600px;
    height: 2500px;
    max-width: 1140px;
    left:250px;
}


#thead {
    
    position:relative;
    float:left;
    display:inline-flex;
    left:250px;
    width:100%;
}

#thead li{
    
    
    float:left;
    border:1px solid #eee;
    padding:15px;
    background-color:#eee;
    
}

.farleft{
    
    position:relative;
    width:550px;
}

.farleft p{

    position: relative;
    left:75px;
    bottom:35px;
}

.incenter{
    
    position:relative;
    width:250px;
    top:0px;
}

.incenter input{
    
    position:relative;
    
    top:20px;
    border:1px solid #aaa;
}


.incenter2{
    
    position:relative;
    width:250px;
    height:56px;
    
}


.farright{
    
    position:absolute;
    width:150px;
    left:1050px;
    top:0px;
    
}

.farright1{
    
    position:absolute;
    width:100px;
    left:1150px;
    
}

#tbody {
    
    position:relative;
    float:left;
    display:inline-flex;
    left:250px;
    width:150%;
    /*border-bottom:1px solid #eee;*/
}

#tbody li{
    
    
    float:left;
   padding:15px;
    
}

#arrowup{
    
    position:relative;
    left:299px;
    bottom:19px;
}

#arrowdwn{
    
    position:relative;
    left:299px;
    bottom:30px;
    
}

#arrowup1{
    
    position:relative;
    left:299px;
    bottom:25px;
}

#arrowdwn1{
    
    position:relative;
    left:299px;
    bottom:35px;
    
}

#tbody, num {
    
    position:relative;
    top:20px;
}

#rectbox{
    
    position: absolute;
    height:30px;
    width:65px;
    border:1px solid #eee;
    background-color: #eee;
    left:800px;
    z-index:-1;
    top:30px;
    
}

#rectbox1{
    
    position: absolute;
    height:15px;
    width:25px;
    border:1px solid #eee;
    background-color: #aaa;
    left:840px;
    z-index:-1;
    top:30px;
}

#rectbox1 i {
    
    position: relative;
     z-index:-1;
}

#rectbox2{
    
    position: absolute;
    height:15px;
    width:25px;
    border:1px solid #eee;
    background-color: #aaa;
    left:840px;
    z-index:-1;
    top:45px;  
}

#innercircle{
    
    position: absolute;
    height:25px;
    width:25px;
    border-radius:50%;
    border:1px solid #eee;
    left:1157px;
    z-index:-1;
    top:35px; 
}

#innerdate{
    
    position:relative;
    bottom:-22px;
}

#innerdate1{
    
    position:relative;
    bottom:73px;
}

#cbutton{
    
    position:relative;
    top:465px;
    right:550px;
    height:100px;
    
}


#code  {
    
    position:relative;
    right:50px;
    background-color:#fff;
    border:1px solid #eee;
    color:#666;
    padding:10px 35px;
    text-align:left;
}

#code1  {
    
    position:relative;
    right:70px;
    background-color:#fff;
    border:1px solid #eee;
    color:#666;
    
    padding:10px 0px;
    
}

#apply {
    
    position:relative;
    left:115px;
    bottom:43px;
    color:#666;
    padding:11px 20px;
}


#cbutton1{
   
    position:relative;
    left:1400px; 
}

#cbutton1 button{
    
    padding:10px 20px;
    background-color:#eee;
    top:50px;
}


#rcontent{
    
    position:relative;
    top:300px;
    left:900px;
}

#bcheckout{
    
    position:relative;
    top:30px; 
    
}


#bcheckout button{
    
    padding:20px 200px;
    background-color:#d00022;  
    color:#fff;
}

table, th, td{
    
    position:relative;
    width:50%;
    border: 1px solid #aaa;
    
}

table,th {
    
    background-color:#eee;
}


table {
    
    line-height:45px;
    
}

.shiphead p{
    
    position:relative;
    bottom:15px;
    
}

#radios {
    
    line-height: 0px;
    padding: 0px 30px;
    text-align:left;
}

#radios1{
    
    line-height:30px;
    padding:30px;
    text-align:left;
}

#radios2{
    
    line-height:0px;
    padding:30px;
    text-align:left;
}

td{
     
    text-align:left;
    padding:30px; 
}




    /*-------------LOGOS----------------*/

#contact {
    
    position: relative;
    bottom:450px;
}

#contact img{
    
    width:1920px;
}


.contactdetails {
    
    position: relative;
    float:left;
    display:inline-flex;
    bottom:550px;
    color:white;
    left:660px;
}

.contactdetails span{
    
    
    margin: 0px 20px;
    padding: 0px 0px;
   
}
#map  {
    
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 0px;
    left:90px;
    
}

#map  h6{
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 15px;
    left:0px;
}

#mail  {
    
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 20px;
    
    left:130px;
}

#mail  h6{
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 20px;
    left:0px;
}

#phone2  {
    
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 0px;
    left:180px;
    
}

#phone2  h6{
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 20px;
    
}

/*-------------footer----------------*/

.footer {
    
    position:relative;
    bottom:460px;
    width: 1920px;
    height: 462px;
    background-color: #1a1d21;
    margin: 0px auto;
    
}

span#company{
    
    position: relative;
    float:left;
    top: 100px;
    left:-150px;
}

#links {
    
    position: relative;
    top: 100px;
    list-style: none;
    text-decoration: none;
    right: 0px;
}

#links span{
    
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-right:  60px;
    color:#646566;
    list-style: none;
    text-decoration: none;
}


#links span ul li{
    
    padding-top: 30px;
    color:#646566;
    line-height: 3px;
    list-style: none;
    text-decoration: none;
}

#links span ul li a{
    
    color:#646566;
    list-style: none;
    text-decoration: none;
}

.newsletter{
    
    position: relative;
    float:right;
    top: -40px;
    right:100px;
}

.newsletter input{
    
    padding: 10px 30px;
    background-color: #212428;
}

.newsletter button{
    
    padding: 10px 20px;
    background-color: #d00022;
    color:white;
}

#copyw {
    
    position: relative;
    top:170px;
    
}

#copyw span{
    
    position: relative;
    float:left;
    
}
#copyw p{
    
    position: relative;
    left:600px;
    top: 175px;
    color: #7f8081;
}
 <!--------services------------>



/*
.toggle{
 display:inline-block;
height:48px;
width:48px; background:url("http://icons.iconarchive.com/icons/pixelmixer/basic/48/plus-icon.png");
 
}
.toggle.expanded{
  background:url("http://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_32.png");
}

*/