* {
    
    padding: 0px;
    border: 0px;
    margin: 0px ;
    text-decoration:none;
    list-style: none;
}

body {
    
    margin: 0px auto;
}


header {
    
    margin: 0px auto;
    max-width: 1140px;
    
}

.mainhead img{
    
    height: 100px;
    width: 1920px;
}
.head{
    
    position: relative;
    display: inline-flex;
    top: -130px;
    color: white;
    left:250px;
}

#logo{
    
    position: absolute;
    display: inline-flex;
    float: left;
    left: 0px;
    top: -40px;
}

#logo h3 {
    
    position: relative;
    float: left;
    padding: 5px;
    top:-20px;
}

#pointer {
    
    position: relative;
    float: right;
    top:-40px;
    left: 550px;
    color: white;
    
}

#pointer h6 {
    
    position: relative;
    float: right;
    padding: 10px;
    top:-12px;
    text-align: left;
    border-right: 1px solid white;
    color: #b0b0b1;
}

#phone {
    
    position: relative;
    float: right;
    top:-40px;
    left: 600px;
    color: white;
}

#phone h6 {
    
    position: relative;
    float: right;
    padding: 10px;
    top:-12px;
    border-right: 1px solid white;
    color: #b0b0b1;
}

#facebook {
    
    position: relative;
    float: right;
    top:-40px;
    left: 670px;
}
#twitter {
    
    position: relative;
    float: right;
    top:-40px;
    left: 680px;
}
.headnavigation{
    
    height: 100px;
    width: 1920px;
    background-color: #edeff2;
    
}
.mainnavigation ul li {
    
    position: relative;
    display: inline-flex;
    float: left;
    list-style: none;
    padding: 40px 15px;
    top: -176px;
    background-color: #edeff2;
    
}

.mainnavigation ul li a {
    
    color: black;
    
}

.mainnavigation  {
    
    position:relative;
    left:300px;
    
}

.mainnavigation li:hover {
    
    background-color: #d00022;
        
}

.mainnavigation .active {
    
    background-color: #d00022;
     
} 

.mainnavigation a:hover {
    
    text-decoration:none;
    color:white;
      
}
#navigation2 #circle {
    
    position:absolute;
    height:40px;
    width:40px;
    border:2px solid #d6d6d6;
    border-radius:50%;
    top:30px;
    left:-3px;
}
#navigation2 #search {
    
    position:relative;
    left:10px;
    top:40px;
    color: #888888;
}

#navigation2{
    
    float: right;
}

#navigation2 img{
    
    padding-right: 5px;
}

#navigation2 li:hover{
    
   background-color: #eee;
    font-weight:700;
}

#navigation2 a:hover{
    
    color:#d0000f;
}
/*---------------End of Header------------------*/

.mainimg figure{
    
    position: absolute;
    top:200px;
    
}
 
.mainimg1 img{
    
    width:1920px;
    
}

.caption{
    
    position:absolute;
    top:50%;
    left:25%;
    color:white;
}

.caption2 {
    
    
    position:absolute;
    top:50%;
    left:80%;
    color:white;
}

.caption2 #home{
    
    color:white;
}

.caption2 #Gallery{
    
    color:white;
}


/*-------------END----------------*/

.maincontent{
    
    position:relative;
    top:500px;
    height: 1300px;
    max-width: 1140px;
    left:250px;
}


.Lcontent{

     position:relative;
    left:200px;
    top:70px;
    display:block;
    float:right;
   
}
.Lcontent input{
    
     margin-bottom:10px;
    border:1px solid #aaa;
    width:450px;
    padding:7px 0px;
}

.Lcontent textarea{
    
    border:1px solid #aaa;
}

.Lcontent span{
    
    color:#d00022;
}
.Lcontent button{
    
    background-color:#d00022;
    color:#fff;
    padding:10px 20px;
    margin-top:10px;
}

.Rcontent{
    
    position:absolute;
    left:250px;
    top:150px;
    width:300px;
    
}

#Rdata p{
    
    position:relative;
    top:20px;
    width:150%;
    color:#aaa;
    font-size:13px;
}

#Rdata h5{
    
    position:relative;
    display:inline;
    top:20px;
    line-height: 30px;
    margin:0px 0px;
    padding:0px 0px;
    
}

#Indata p{
    
    font-size:13px;
   display:inline; 
    
}


    /*-------------LOGOS----------------*/

#contact {
    
    position: relative;
    bottom:-10px;
}

#contact img{
    
    width:1920px;
}

.contactdetails {
    
    position: relative;
    float:left;
    display:inline-flex;
    bottom:90px;
    color:white;
    left:660px;
}

.contactdetails span{
    
    
    margin: 0px 20px;
    padding: 0px 0px;
   
}
#map  {
    
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 0px;
    left:90px;
    
}

#map  h6{
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 15px;
    left:0px;
}

#mail  {
    
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 20px;
    
    left:130px;
}

#mail  h6{
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 20px;
    left:0px;
}

#phone2  {
    
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 0px;
    left:180px;
    
}

#phone2  h6{
    
    position: relative;
    float:right;
    margin: 0px 0px;
    padding: 0px 20px;
    
}

/*-------------footer----------------*/

.footer {
    
    position:relative;
    bottom:0px;
    width: 1920px;
    height: 462px;
    background-color: #1a1d21;
    margin: 0px auto;
    
}

span#company{
    
    position: relative;
    float:left;
    top: 100px;
    left:-150px
}

#links {
    
    position: relative;
    top: 100px;
    list-style: none;
    text-decoration: none;
    right: 0px;
}

#links span{
    
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-right:  60px;
    color:#646566;
    list-style: none;
    text-decoration: none;
}


#links span ul li{
    
    padding-top: 30px;
    color:#646566;
    line-height: 3px;
    list-style: none;
    text-decoration: none;
}

#links span ul li a{
    
    color:#646566;
    list-style: none;
    text-decoration: none;
}

.newsletter{
    
    position: relative;
    float:right;
    top: -40px;
    right:100px;
}

.newsletter input{
    
    padding: 10px 30px;
    background-color: #212428;
}

.newsletter button{
    
    padding: 10px 20px;
    background-color: #d00022;
    color:white;
}

#copyw {
    
    position: relative;
    top:170px;
    
}

#copyw span{
    
    position: relative;
    float:left;
    left:400px;
}
#copyw p{
    
    position: relative;
    left:600px;
    top: 175px;
    color: #7f8081;
}
 <!--------services------------>



/*
.toggle{
 display:inline-block;
height:48px;
width:48px; background:url("http://icons.iconarchive.com/icons/pixelmixer/basic/48/plus-icon.png");
 
}
.toggle.expanded{
  background:url("http://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_32.png");
}

*/